.case-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.case-btn-link {
  font-weight: 400;
  color: #006b4f;
  text-decoration: none;
}

.fa-chevron-down {
  color: #006b4f;
}

.case-item:nth-child(n+1) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.125) !important;
}

.case-item:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #0e7f62;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  z-index: 2;
  color: #539840;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}