@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/Poppins-Light.woff2) format('woff2'),
	url(../../assets/fonts/Poppins-Light.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/Poppins-Light.woff2) format('woff2'),
	url(../../assets/fonts/Poppins-Light.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/Poppins-Light.woff2) format('woff2'),
	url(../../assets/fonts/Poppins-Light.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/Poppins-Regular.woff2) format('woff2'),
	url(../../assets/fonts/Poppins-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/Poppins-Regular.woff2) format('woff2'),
	url(../../assets/fonts/Poppins-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/Poppins-Regular.woff2) format('woff2'),
	url(../../assets/fonts/Poppins-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/Poppins-Medium.woff2) format('woff2'),
	url(../../assets/fonts/Poppins-Medium.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/Poppins-Medium.woff2) format('woff2'),
	url(../../assets/fonts/Poppins-Medium.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/Poppins-Medium.woff2) format('woff2'),
	url(../../assets/fonts/Poppins-Medium.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/Poppins-SemiBold.woff2) format('woff2'),
	url(../../assets/fonts/Poppins-SemiBold.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/Poppins-SemiBold.woff2) format('woff2'),
	url(../../assets/fonts/Poppins-SemiBold.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/Poppins-SemiBold.woff2) format('woff2'),
	url(../../assets/fonts/Poppins-SemiBold.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/Poppins-Bold.woff2) format('woff2'),
	url(../../assets/fonts/Poppins-Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/Poppins-ExtraBold.woff2) format('woff2'),
	url(../../assets/fonts/Poppins-ExtraBold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/Poppins-Bold.woff2) format('woff2'),
	url(../../assets/fonts/Poppins-Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/Poppins-Bold.woff2) format('woff2'),
	url(../../assets/fonts/Poppins-Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/Poppins-ExtraBold.woff2) format('woff2'),
	url(../../assets/fonts/Poppins-ExtraBold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/Poppins-ExtraBold.woff2) format('woff2'),
	url(../../assets/fonts/Poppins-ExtraBold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/Poppins-Black.woff2) format('woff2'),
	url(../../assets/fonts/Poppins-Black.woff) format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/Poppins-Black.woff2) format('woff2'),
	url(../../assets/fonts/Poppins-Black.woff) format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/Poppins-Black.woff2) format('woff2'),
	url(../../assets/fonts/Poppins-Black.woff) format('woff');
	font-weight: 900;
	font-style: normal;
}