.login-clean {
	background: #f1f7fc;
	padding: 80px 0;
	form {
		max-width: 320px;
		width: 90%;
		margin: 0 auto;
		background-color: #ffffff;
		padding: 40px;
		border-radius: 4px;
		color: #505e6c;
		box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
		.form-control {
			background: #f7f9fc;
			border: none;
			border-bottom: 1px solid #dfe7f1;
			border-radius: 0;
			box-shadow: none;
			outline: none;
			color: inherit;
			text-indent: 8px;
			height: 42px;
		}
		.btn-primary {
			border: none;
			border-radius: 4px;
			padding: 11px;
			box-shadow: none;
			margin-top: 26px;
			text-shadow: none;
			outline: none !important;
			&:hover {
				background: #eb3b60;
			}
			&:active {
				background: #eb3b60;
				transform: translateY(1px);
			}
		}
		.forgot {
			display: block;
			text-align: center;
			font-size: 12px;
			color: #6f7a85;
			opacity: 0.9;
			text-decoration: none;
			&:hover {
				opacity: 1;
				text-decoration: none;
			}
			&:active {
				opacity: 1;
				text-decoration: none;
			}
		}
	}
	.illustration {
		text-align: center;
		padding: 0 0 20px;
		font-size: 100px;
	}
}
