fieldset {
	margin: 0;
	box-sizing: border-box;
	display: block;
	border: none;
	min-width: 0;
	background-color: #FFF;
	box-shadow: 1px 1px 3px rgb(0 0 0 / 10%);
	legend {
		margin: 0 0 1.5rem;
		padding: 0;
		width: 100%;
		float: left;
		display: table;
		font-size: 1.5rem;
		line-height: 140%;
		font-weight: 600;
		color: #333;
		+ {
			* {
				clear: both;
			}
		}
	}
}
.toggle {
	margin: 0 0 1.5rem;
	box-sizing: border-box;
	font-size: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	input {
		width: 0;
		height: 0;
		position: absolute;
		left: -9999px;
		+ {
			label {
				margin: 0;
				padding: .75rem 2rem;
				box-sizing: border-box;
				position: relative;
				display: inline-block;
				border: solid 1px #DDD;
				background-color: #FFF;
				font-size: 1rem;
				line-height: 140%;
				font-weight: 600;
				text-align: center;
				box-shadow: 0 0 0 rgba(255, 255, 255, 0);
				transition: border-color .15s ease-out, color .25s ease-out, background-color .15s ease-out, box-shadow .15s ease-out;
				padding: .75rem .25rem;
				flex: 0 0 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				&:first-of-type {
					border-radius: 6px 0 0 6px;
					border-right: none;
				}
				&:last-of-type {
					border-radius: 0 6px 6px 0;
					border-left: none;
				}
			}
		}
		&:checked {
			+ {
				label {
					background-color: #539840;
					color: #FFF;
					border-color: #539840;
					z-index: 1;
				}
			}
		}
	}
}
